# MiniMax API 配置
MINIMAX_API_KEY=your_api_key_here
MINIMAX_API_URL=https://api.minimaxi.com
MINIMAX_CHAT_MODEL=MiniMax-M2.7

# Jina AI Embedding 配置
JINA_API_KEY=jina_72b5438823bf472899c71814d0e43c55DxVEtz6pDDJ3TkbXFGrP4hwmyOcD
